#responsive.modal.fade{"aria-hidden" => "true", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
        %h4.modal-title Upload Documents
      .modal-body
        /.scroller{"data-always-visible" => "1", "data-rail-visible1" => "1", :style => "height:300px"}
        #multipleupload
      .modal-footer
        %button.btn.dark.btn-outline{"data-dismiss" => "modal", :type => "button"} Close
        /%button.btn.green{:type => "button"} Save changes



